<div class="content">
  <p>
  Hello <%= notification.user.first_name %>,
  </p>

  <p>
  You’re receiving this email because you requested a password reset for your HAID account.
  Please visit this link to create a new password:
  </p>

  <p>
    <a class="action" href="<%= append_tracking(password_change_url(notification.user.reset_password_token, email: notification.user.email)) %>">Set Password</a>
  </p>

  <p>
  Thanks for using HAID!
  </p>

  <p>
  If you received this email by mistake or if you did not set your email address. Please <a href="<%= append_tracking(help_url) %>">contact support</a>.
  </p>
</div>

