<div class="content">
  <p>
  You’re receiving this email because you requested a password reset for your HAID account.
  Please visit this link to create a new password:
  </p>

  <p>
    <a class="action" href="<%= append_tracking(password_change_url(notification.user.reset_password_token, email: notification.user.email)) %>">Set Password</a>
  </p>

  <p>
  Thanks for using HAID!
  </p>
</div>

